<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no"/>
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
    <style>
        body {}

        #app {
            background: white;
            min-height: 100vh;
            /*padding-top: 3vw;*/
            box-sizing: border-box;
            padding: 3vw;
        }
        [v-cloak]{
          /*display: none;*/
        }
        .infoBox{
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #AAAAAA;
          font-size: 12px;
          padding: 3vw 0;
        }
        .time{
          display: flex;
          align-items: center;
        }
        .time div:nth-child(1){
          color:#FA607D;
          font-size: 16px;
        }
        .count{
          margin-bottom: 5vw;
        }
        .count img{
          max-width: 100%;
        }
        .allnum{
          padding: 3vw 0;
          color: #AAAAAA;
          border-bottom: 1px solid #f5f5f5;
        }
        .plt{
          display: flex;
          align-items: center;
        }
        .plhead{
          width: 8vw;
          height: 8vw;
          margin-right: 3vw;
          border-radius: 50%;
        }
        .plhead img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        .pls{
          padding-top: 3vw;
        }
        .plt p{
          width: 80vw;
        }
        .plcount{
          font-size: 14px;
          color: #AAAAAA;
          padding: 3vw 0;
          line-height: 20px;
        }
        .dpbox{
          display: flex;
          align-items: center;
          margin-right: 3vw;
        }
        .dpico{
          font-weight: 700;
          margin-right: 3px;
        }


    </style>
</head>

<body>
    <div id="app" v-cloak>
      <h2>{{title}}</h2>
      <div class="infoBox">
        <div class="time">
          <div class="dpbox" @click="goshop()">
              <i v-if="store_id != 0" class="iconfont dpico">&#xe60d;</i>
            <span>NailVision</span>
          </div>
          <span>{{time}}</span>
        </div>
        <div class="">
          <i class="iconfont">&#xe629;</i>
          <span>{{look_count}}</span>
        </div>
      </div>
      <div class="count" v-html="count">

      </div>
      <div class="plsBox">
        <div class="allnum">
          Coment({{talk_count}})
        </div>
        <div class="pls">
          <div class="pl" v-for="(item,index) in pls" @click="delatepl(item,index)">
            <div class="plt">
              <div class="plhead">
                <img :src="item.avatar_url" alt="">
              </div>
              <p>{{item.nickname}}</p>
            </div>
            <div class="plcount">{{item.content}}</div>
          </div>
        </div>
      </div>
    </div>

</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/fastclick.js"></script>
<script src="../../script/vue.min.js"></script>
<script src="../../script/commonurl.js"></script>
<script type="text/javascript">
var app;
    apiready = function() {
        //监听评论消息
        api.addEventListener({
          name: 'myEvent'
        }, function(ret, err) {
          console.log(JSON.stringify(ret.value));
          const message=JSON.parse(JSON.stringify(ret.value.message))
          app.postPl(message)
        });
        app = new Vue({
            el: '#app',
            data() {
                return {
                  count:'富文本',
                  title:'',
                  time:'',
                  look_count:'',
                  author:'',
                  ismore:true,
                  talk_count:'',
                  page:2,
                  store_id:0,
                  pls:[
                    {
                      id:1,
                      head:'../../image/img7.jpg',
                      name:'Jaclynn Bradley',
                      count:'Great,my girlfriend likes it very much,the red super beauty super beauty super beauty super beauty'
                    }
                  ],

                }
            },
            created() {
              this.getDetail()
              this.getMore()

            },
            methods: {

            //监听滚动到底
            getMore() {
              var _this = this
              api.addEventListener({
                  name: 'scrolltobottom',
                  extra: {
                      threshold: 0 //设置距离底部多少距离时触发，默认值为0，数字类型
                  }
              }, function(ret, err) {
                console.log('加载更多');
                if (_this.ismore) {
                  _this.getplsList()
                }
              });
            },
            //获取评论列表
            getplsList(){
              var _this = this;
              var data = {
                page:_this.page,
                news_id:api.pageParam.id
              }
              requstGet('news/talk',data,function success(ret){
                if (ret.data.list) {
                  _this.page += 1
                  _this.pls = _this.pls.concat(ret.data.list)
                  if (ret.data.list.length < 25) {
                    _this.ismore = false
                  }
                }else {
                  _this.ismore = false
                }

              },function fail(err){

              })
            },
              getDetail(){
                var _this = this;
                var data = {
                  id : api.pageParam.id
                };
                requstGet('news/detail',data,function success(ret){

                  _this.store_id = ret.data.store_id
                  _this.pls =  ret.data.talks
                  _this.count = ret.data.news.detail
                  _this.title = ret.data.news.title
                  _this.time = ret.data.news.create_time
                  _this.look_count = ret.data.news.look_count
                  _this.author = ret.data.news.author
                  _this.talk_count = ret.data.news.talk_count
                  api.execScript({
                      name: 'newsdetail_win',
                      // frameName: 'frmName',
                      script: 'app.setfav("'+ret.data.news.collect_status+'");'
                  });
                  api.execScript({
                      name: 'newsdetail_win',
                      // frameName: 'frmName',
                      script: 'app.setzan("'+ret.data.news.like_status+'");'
                  });

                  api.execScript({
                      name: 'newsdetail_win',
                      // frameName: 'frmName',
                      script: 'app.setNum("'+ret.data.news.like_count+'");'
                  });

                  if (ret.data.talks.length < 25) {
                    _this.ismore = false
                  }else {
                    _this.ismore = true
                  }
                },function fail(err){

                })
              },
              //前往商家店铺，如果此文章是商家发布的
              goshop(){
                var _this = this;
                if (this.store_id != 0) {
                  api.openWin({
                      name: 'shophome_win',
                      url: './shophome_win.html',
                      pageParam: {
                          id: _this.store_id
                      }
                  });
                }


              },
              //删除自己的评论
              delatepl(ite,ind){
                var _this = this;
                if (ite.id == 6) {
                  api.actionSheet({
                      title: '',
                      cancelTitle: 'Cancel',
                      destructiveTitle: 'Delete',
                  }, function(ret, err){
                      if( ret ){
                        if (ret.buttonIndex == 1) {
                          _this.pls.splice(ind,1)
                        }
                          //  alert( JSON.stringify( ret ) );
                      }else{
                          //  alert( JSON.stringify( err ) );
                      }
                  });


                }
              },
              //显示评论
              showPl(){
                console.log('显示评论');
                  var _this = this
                  var inputField = api.require('inputField');
                  inputField.setInputFieldListener(function(ret, err) {
                      if (ret) {
                          if (ret.chatViewH < 50) {

                          }
                          console.log(JSON.stringify(ret));
                      } else {
                          console.log(JSON.stringify(err));
                      }
                  });
                  // inputField.becomeFirstResponder(function(ret, err) {
                  //     if (ret.status) {
                  //         console.log(JSON.stringify(ret));
                  //     } else {
                  //         console.log(JSON.stringify(err));
                  //     }
                  // });
                  inputField.open({
                      bgColor: '#ffffff',
                      lineColor: '#999999',
                      fileBgColor: '#f5f5f5',
                      borderColor: '#999999',
                      placeholder: '',
                      autoFocus: true,
                      maxLines: 5,
                      limitedWordsNumber: 100,
                      leftBtn: {
                            bg: '#FB607D',
                            title: 'Close',
                            titleColor: '#fff',
                            bgHighlight: '#999999',
                            bg:'#999999',
                      },
                      sendBtn: {
                          bg: '#FB607D',
                          title: 'Send',
                          titleColor: '#fff',
                          bgHighlight: '#e67187',
                      },
                      fixedOn: api.frameName
                  }, function(ret, err) {
                      if (ret) {
                          if (ret.msg != '') {
                              console.log(ret.msg + 'end');
                              _this.postPl(ret.msg)
                              // _this.sendPl(ret.msg)
                              inputField.resignFirstResponder();
                          }
                          // alert(JSON.stringify(ret));


                      } else {
                          // alert(JSON.stringify(err));
                      }
                  });
                  inputField.setInputFieldListener(function(ret, err) {
                      if (ret) {
                          console.log(JSON.stringify(ret));
                          if (ret.chatViewH <= 50) {
                              inputField.close();
                          }
                          // alert(JSON.stringify(ret));
                      } else {
                          // alert(JSON.stringify(err));
                      }
                  });
              },
              //发布评论
              postPl(e){
                var _this = this;
                var data = {
                  news_id:api.pageParam.id,
                  content:e
                };
                requstPost('news/pushTalk',data,function success(ret){
                  _this.talk_count = ret.data.talk_count
                  var obj = {
                    id:'',
                    user_id:'',
                    nickname:$api.getStorage('nickname'),
                    content:e,
                    avatar_url:$api.getStorage('headimg'),
                  }
                  _this.pls.unshift(obj)
                },function fail(err){

                })
              },
              //分享
              goshare(){
                console.log('分享');
              },
              //收藏
              gofavour(){
                console.log('收藏');
                api.execScript({
                    name: 'newsdetail_win',
                    // frameName: 'frmName',
                    script: 'app.setisfavou();'
                });

              },
              //点赞
              gozan(){
                console.log('点赞');
                api.execScript({
                    name: 'newsdetail_win',
                    // frameName: 'frmName',
                    script: 'app.setiszan();'
                });
              }


            }
        })

    };
</script>

</html>
